body {
	background-color: #FFFFFF;
	background-repeat: no-repeat;
    background-image: url();
	background-repeat: no-repeat;
	background-position: center top;
}


.blank_row
{
    height: 50px !important; /* overwrites any other rules */
    background-color: #FFFFFF;
}

.a {
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #2d2d2d;
	line-height:1.3;
}

.c {
	font-weight: bold;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color: #3A3A3A;
}

.b {
	background-repeat:no-repeat;
}
.d {
	font-size: 13px;
	font-weight: bold;
	font-family:Verdana, Geneva, sans-serif;
	color: #3A3A3A;
}
.d1 {
	font-size: 13px;
	font-weight: bold;
	font-family:Verdana, Geneva, sans-serif;
	color: #3A3A3A;
	text-align:center;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 100px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}
.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}



.style1 {font-weight: bold; font-family: Verdana, Geneva, sans-serif; font-size: 24px; color: #2d2d2d; line-height: 1.3; }
.style2 {
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	color: #2d2d2d;
	line-height: 1.3;
	font-style: italic;
}

.style3 {font-weight: bold; font-family: Verdana, Geneva, sans-serif; font-size: 20px; color: #3399ff; line-height: 1.3; }
.style3_b {font-weight: bold; font-family: Verdana, Geneva, sans-serif; font-size: 20px; color: #000000; line-height: 1.3; }
.style3_r {font-weight: bold; font-family: Verdana, Geneva, sans-serif; font-size: 20px; color: #ff0000; line-height: 1.3; }
.style4 {font-weight: ; font-family: Verdana, Geneva, sans-serif; font-size: 16px; color: #000000; line-height: 2; }

.style5 {font-size: 16px}

.style7 {font-family: Verdana, Arial, Helvetica, sans-serif}
